h1 {
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
  
}

h4{
    color: white;
    display: flex;
    justify-content: center;


}

body {
    background-image: url('https://wallpapers.com/images/hd/black-color-background-with-top-lighting-3lnxae5rgl80fa1n.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    

}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
p{
    font-size: large;
    color: #000000; 
    overflow-wrap: break-word; 
}

#caja{
    background-color: #ffffff;
    height: 700px;
    width: 400px;
    border: 3px solid #000000;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
}

#texto-caja{
    color: #000000;
    font-size: x-large;
}


.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#texto{
    display: flex;
    justify-content: center;

}



#presentacion{
    font-size: large;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid #000000;


}

nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    position: sticky;
}

li {
  float: left;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  position: sticky;

}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 145px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  position: sticky;

}

li a:hover:not(.active) {
  background-color: #111;
  position: sticky;

}

.active{
    background-color: #04AA6D;
    position: sticky;



}

#formulario{
    color:black;
}

#register{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #000000;


}