{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina TR</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% if request.user.is_authenticated %}
        <h4>Bienvenido {{user.username | upper}}</h4>
    {% else %}
    <h4> </h4>
    {% endif %}
    <nav>
        <li><a href = {% url "home" %} > Inicio</a></li>
        <li><a  href = {% url "nombre" %} >Introducir nombre</a></li>
        <li><a class = 'active' href = {% url "about" %} > Un poco sobre mi</a></li>
        {% if request.user.is_authenticated %}
            <li><a  href="{% url 'exit' %}">Salir</a></li>

        {% else %}
        
        <li><a  href="{% url 'login' %}">Iniciar sesión</a></li>
        <li><a  href="{% url 'register' %}">Registrarse</a></li>
        {% endif %}
        
      

    
    </nav>
    <div class 'flex-container'>
        <h1>Un poco sobre mi</h1>
            <div>
                <p id = 'presentacion'> ¡Hola a todos! Me llamo Edgar Saez y estoy aquí para contaros un poco sobre mí. Actualmente estoy en primero de bachillerato y
                estoy metido de lleno en el mundo de la programación web. Mi objetivo en este momento es crear una página web usando Django. 
                ¿Por qué Django? Porque dicen que es genial y quiero descubrirlo por mí mismo.
                <br>
                <br>
                Quiero hacer esta página web como parte de mi proyecto final de bachillerato. Pero más allá de eso, realmente quiero sumergirme en el proceso de desarrollo web.
                Desde la planificación inicial hasta la implementación y la puesta en marcha, quiero aprenderlo todo.
                <br>
                <br>
                Creo que este proyecto no solo me ayudará a aprender a programar, sino que también me enseñará habilidades como resolver problemas y ser creativo.
                Sé que habrá desafíos en el camino, pero estoy emocionado de enfrentarlos y aprender de ellos.
                <br>
                <br>
                <em>FIN</em>
                </p> 
            </div>
        </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>