{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina TR</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% if request.user.is_authenticated %}
        <h4>Bienvenido {{user.username | upper}}</h4>
    {% else %}
    <h4> </h4>
    {% endif %}
    <nav>
        
        
        <li><a  href = {% url "home" %} > Inicio</a></li>
        <li><a class = 'active' href = {% url "nombre" %} >Introducir nombre</a></li>
        <li><a  href = {% url "about" %} > Un poco sobre mi</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'exit' %}">Salir</a></li>

        {% else %}
        
        <li><a  href="{% url 'login' %}">Iniciar sesión</a></li>
        <li><a  href="{% url 'register' %}">Registrarse</a></li>
        {% endif %}
      

    
    </nav>
    <div class="flex-container">
        <h1 id="titulo">Introducir nombre</h1>
        <div id="caja" class="color-box">
            <div class="center-content">
                <br>
                <p id="texto-caja">Introduce tu nombre</p>
                <br>
                <input placeholder = 'Nombre' type="text" id="nombreInput">
                <br><br>
                <button onclick="guardarNombre()">Mostrar nombre</button>
                <br>
                <p id = 'texto'> </p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
